.vs/
*.sln
*.user
*.userprefs

bin/
obj/

*.nupkg
*.snupkg
packages/
*.nuspec

.vscode/

.idea/

*.log
*.mdf
*.ldf
*.ndf
*.sqlite

*.dbmdl
*.dbproj.schemaview
*.jfm
*.dbproj

tmp/
temp/

postgres-data/

